$maxWidthContainer: 1352;

// dinamic-1
$hoverColor-1: #C998FB;
$focusColor-1: #EBD1FF;
$actionColor-1: #7033AC;


//dinamic-2
$hoverColor-2: #FFBD59;
$focusColor-2: #FFF5D1;
$actionColor-2: #BB370E;

//dinamic-arrowBtn
$hoverColor-arrowBtn: #A65CF0;
$focusColor-arrowBtn: #C998FB;
$actionColor-arrowBtn: #7033AC;
$disableColor-arrowBtn: #999999;

//dinamic-user
$hoverColor-user: #C998FB;
$focusColor-user: #C998FB;
$actionColor-user: #7033AC;

//socialBtn 
$hoverSocialBtn: #A65CF0;
$focusSocialBtn: #C998FB;
$activSocialBtn: #7033AC;


// dinamic-btn1
$solidBtn: #A65CF0;
$solidBtn-hover: #C998FB;
$solidBtn-focus: #7033AC;
$solidBtn-active: #7033AC;


// transparent-btn
$transparent-btn: #A65CF0;
$transparent-btn-hover: #A65CF0;
$transparent-btn-focus: #C998FB;
$transparent-btn-active: #7033AC;

// .link-width-arrow
$link-width-arrow-color: #A65CF0;
$link-width-arrow-focus: #C998FB;
$link-width-arrow-active: #7033AC;

// /form/
$form-color-hover: #EAEAEA;
$form-color-focus: #F8EFFF;
$form-color-focus-border: #A65CF0;